.App {
  font-family: sans-serif;
  text-align: center;
  width: 80%;
  margin: auto;
  border: 10px solid royalblue;
  background-image: url("https://i.pinimg.com/originals/ce/eb/3d/ceeb3d02ced53a1a052302e37784b8a1.jpg");
  background-size: cover;
  border-radius: 20px;
}

#OTS {
  text-decoration: line-through;
}
